// Colors
$primary-color: #ff0003;
$white: #fff;
$dark: #140f0f;

// Typography
$base-font-size: 16px;
$heading-font-family: "Poppins", sans-serif;

// Breakpoints
$breakpoint-xs: 320px; // Extra small devices (phones)
$breakpoint-sm: 576px; // Small devices (portrait tablets and phones)
$breakpoint-md: 768px; // Medium devices (landscape tablets and small laptops)
$breakpoint-lg: 992px; // Large devices (laptops and desktops)
$breakpoint-xl: 1200px; // Extra large devices (large laptops and desktops)
