.hero {
    background-image: url("../../img/backgruond.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before {
        @extend %absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
