%absolute {
    position: absolute;
    content: "";
}
.overlay {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.h-100 {
    height: 100%;
}
.ai__center {
    align-items: center;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include medium-desktop {
        max-width: 992px;
    }
    @include small-desktop {
        max-width: 768px;
    }
    @include tablet {
        max-width: 576px;
    }
    @include mobile {
        max-width: none;
    }
    &__fluid {
        width: 100%;
        padding: 0 20px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: center;
}

.col {
    &__12 {
        width: 100%;
        flex: 0 0 auto;
        padding: 0 15px;
    }
    &__3 {
        width: 33.33%;
        flex-basis: 33.33%;
        padding: 0 15px;
        flex: 0 0 auto;
        @include tablet {
            width: 50%;
            flex-basis: 50%;
        }
        @include mobile {
            width: 100%;
            flex-basis: 100%;
        }
    }
}
